body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #121212;
  color: #fafafa;
}

body * {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fafafa;
  text-decoration: none;
}

menu {
  list-style: none;
}
